# brands.csv

* **short** – the 3-character code by which the brand can be identified in the first 3 characters of products.sku
* **long** – brand name

## Import the data

In [10]:
import pandas as pd
pd.options.display.max_rows = 500

brands_original = pd.read_csv('../../data/brands.csv')
brands_original.head(10)

  short        long
0   8MO   8Mobility
1   ACM        Acme
2   ADN      Adonit
3   AII       Aiino
4   AKI      Akitio
5   ALL   Allocacoc
6   AP2       Apple
7   APP       Apple
8   BAN  Band&Strap
9   BEA       Beats

<div class="alert alert-block alert-info">
    After checking the sku values in <b>orderlines</b> we see that the first 3 characters of the sku values correspond to the <b>short</b> column in brands.
</div>

## Data exploration

In [4]:
brands = brands_original.copy()
brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   short   187 non-null    object
 1   long    187 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

In [5]:
brands.describe()

       short    long
count    187     187
unique   187     181
top      8MO  Mophie
freq       1       2

In [6]:
brands.nunique()

short    187
long     181
dtype: int64

In [7]:
brands.isna().sum()

short    0
long     0
dtype: int64

In [8]:
brands.duplicated().sum()

0

<div class="alert alert-block alert-success">
    Brands is clean.
</div>